#!/usr/bin/make -f

DH_VERBOSE=1

PYTHON2=$(shell pyversions -vr)

%:
	dh --with python2 $@

install-python%:
        python$* setup.py install --root=$(CURDIR)/debian/tmp \
          --force --no-compile -O0 --install-layout=deb

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
